;; -*- mode: clojure; -*-
;;
;; sample configuration for Kiries

(logging/init :file "logs/kiries.log")

(tcp-server :host "0.0.0.0" :port 5555)
(udp-server :host "0.0.0.0")

;;(ws-server)

;; uncomment to enable Riemann's REPL server.
(repl-server :host "0.0.0.0" :port 7254)

(require '[riemann.elastic :as elastic])
;; Load up some index mappings that optimize for time-series data
(elastic/load-index-template "default" "config/default-mapping.json")

;; Example handler for riemann-health events
(include "tweets.config")

